html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* garante rolagem geral da página */
}

.sidebar {
    width: 260px;
    height: 130vh;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pagina-usuario main {
    margin-left: 30px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}

.btn-no-hover {
    background-color: white !important;
    border: 1px solid #dee2e6 !important;
    color: #212529 !important;
    transition: none !important;
}

.btn-no-hover:hover,
.btn-no-hover:active,
.btn-no-hover:focus {
    background-color: white !important;
    border-color: #dee2e6 !important;
    color: #212529 !important;
    box-shadow: none !important;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}



/* CONTEUDO DA PÁGINA */

/* Cards iniciais*/
.card-info {
    border: 1px solid #dbd9d9;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ícones */
.icon {
    font-size: 1.8rem;
    margin: 0px;
    padding: 0;
}

.progresso {
    margin-right: 30px;
}

/* Cores dos cards iniciais*/
.card-info.azul .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #eaf1ff;
    color: #004b9b;
}

.card-info.laranja .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff4e6;
    color: #f28b1a;
}

.card-info.verde .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #eafaf1;
    color: #1ea672;
}

.card-info.roxo .icon {
    padding: 15px;
    border-radius: 10px;
    background-color: #f5eaff;
    color: #8b3ef7;
}