/* CONTAINER PRINCIPAL */
.presenca-list-container {
    padding: 0 0 20px 0; /* Ajuste o padding conforme a necessidade da página */
    font-family: Arial, sans-serif;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

/* HEADER */
.presenca-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.presenca-header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: #333;
}

.presenca-header p {
    font-size: 0.9rem;
    color: #666;
    margin: 0;
}

/* CARDS DE PRESENÇA */
.presenca-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os cards */
}

.presenca-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08); /* Sombra mais suave */
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.2s;
}

.presenca-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); /* Leve destaque no hover */
}

/* CONTEÚDO À ESQUERDA */
.presenca-titulo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0a2b6b;
    margin-bottom: 4px;
}

.presenca-data {
    font-size: 0.85rem;
    color: #666;
    margin-bottom: 10px;
}

.presenca-status {
    display: flex;
    gap: 15px;
    font-size: 0.85rem;
}

.status-item {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}

.status-item i {
    font-size: 0.5rem;
}

.presente i {
    color: #3ec279; /* Verde */
}

.ausente i {
    color: #dc3545; /* Vermelho */
}

.total {
    color: #666;
}

/* CONTEÚDO À DIREITA (PERCENTUAL) */
.presenca-percentual-area {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presenca-percentual {
    font-size: 2rem;
    font-weight: 700;
    color: #0a2b6b;
    line-height: 1;
}

.presenca-percentual-label {
    font-size: 0.75rem;
    color: #999;
    margin-bottom: 8px;
}

.btn-detalhes {
    background: none;
    color: #1b1b1b;
    border: 0.5px solid rgb(219, 219, 219);
    padding: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-detalhes:hover {
    background-color: #f3f3f3;
}

.btn-registrar-presenca {
    background-color: #193d85;
    color: #fff; 
    border: none; 
    padding: 0.4rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--font-title);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.10s;
    font-size: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-registrar-presenca:hover {
    background-color: #071f4e;
}