
a:hover { color: inherit; }


.pagina-usuario {
  display: flex;
  min-height: 100vh;   
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.pagina-dashboardInscricoes .row,
.pagina-usuario .row {
  width: 100%;
  margin: 0;
  flex-wrap: nowrap; 
}


.pagina-dashboardInscricoes .sidebar,
.pagina-usuario .sidebar {
  width: 260px;
  min-height: 100vh;
  height: 100vh;
  position: sticky;
  top: 0;
  align-self: flex-start;
  z-index: 5;
}


.pagina-dashboardInscricoes main,
.pagina-usuario main {
  flex: 1 1 auto;
  min-height: 100vh;
  background: #f6f8ff;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-left: 28px;   /* ajuste fino */
  padding-right: 28px;
  box-sizing: border-box;
  overflow: visible;
}


.pagina-dashboardInscricoes .container-fluid,
.pagina-usuario .container-fluid {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.pagina-dashboardInscricoes .introducao,
.pagina-usuario .introducao {
  width: 100%;
  padding-right: 0;
}


.pagina-dashboardInscricoes .search-container,
.pagina-usuario .search-container {
  max-width: 1400px;
  margin-left: 0;
}

.pagina-dashboardInscricoes .cards-wrapper .card-info,
.pagina-usuario .cards-wrapper .card-info {
  height: 150px;
}
