/* Layout geral */
.pagina-usuario {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Lista de links */
.menu {
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}

.menu li.ativo i {
    color: #fff;
}

.bemVindo {
    flex: 1;
    padding: 60px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-info {
  flex: 1;
  min-width: 230px;
  border: 1px solid #e6e6e6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding:5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  transition: transform 0.2s ease;
  margin-left: 65px;
}


.card-info:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 1.8rem;
  background-color: #f2f4ff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  
}

.card-info.azul .icon {
  background-color: #eaf1ff;
  color: #004b9b;
  
}

.card-info.laranja .icon {
  background-color: #fff4e6;
  color: #f28b1a;
}

.card-info.verde .icon {
  background-color: #eafaf1;
  color: #1ea672;
}

.card-info.roxo .icon {
  background-color: #f5eaff;
  color: #8b3ef7;
}

.titulo {
  color: #555;
  font-size: 0.95rem;
  margin: 0;
}

.valor {
  color: #002b6b;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}