
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.sidebar {
    width: 260px;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 0;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.menu li:hover {
    background-color: #e9efff;
    color: #0a2b6b;
}

.menu li.ativo {
    background-color: #0a2b6b;
    color: #fff;
    font-weight: 500;
}

.pagina-treinamentos {
  background-color: #fff;
}

.conteudo-treinamentos {
  background-color: #fff;
}

.titulo-pagina {
  color: #005DAA;
  font-weight: 700;
}

.subtitulo {
  color: #4A4A4A;
  margin-bottom: 2rem;
  font-size: 0.95rem;
}


.tabs-container {
  display: flex;
  border-bottom: 2px solid #e0e0e0;
  gap: 1rem;
}


.tab-button {
  background: none;
  border: none;
  font-weight: 600;
  color: #e0e0e0;
  padding: 0.6rem 1rem;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tab-button:hover {
  color: #e0e0e0;
}

.tab-button.active {
  color: var(--azul-escuro);
  border-bottom: 3px solid #005DAA;
}


@media (max-width: 768px) {
  .sidebar {
    height: auto;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
  }

  .conteudo-treinamentos {
    padding: 1rem;
  }
}

